<p id="notice"><%= notice %></p>

<h1>Listing Generates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generates.each do |generate| %>
      <tr>
        <td><%= link_to 'Show', generate %></td>
        <td><%= link_to 'Edit', edit_generate_path(generate) %></td>
        <td><%= link_to 'Destroy', generate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Generate', new_generate_path %>
