<p id="notice"><%= notice %></p>

<p>
  <strong>Character:</strong>
  <%= @create.character %>
</p>

<p>
  <strong>Droid:</strong>
  <%= @create.droid %>
</p>

<p>
  <strong>Planet:</strong>
  <%= @create.planet %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @create.quote %>
</p>

<p>
  <strong>Species:</strong>
  <%= @create.species %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @create.vehicle %>
</p>

<%= link_to 'Edit', edit_create_path(@create) %> |
<%= link_to 'Back', creates_path %>
