<p id="notice"><%= notice %></p>

<h1>Listing Droids</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Character</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @droids.each do |droid| %>
      <tr>
        <td><%= droid.name %></td>
        <td><%= droid.character_id %></td>
        <td><%= link_to 'Show', droid %></td>
        <td><%= link_to 'Edit', edit_droid_path(droid) %></td>
        <td><%= link_to 'Destroy', droid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Droid', new_droid_path %>
