<!DOCTYPE html>
<html>
<head>
  <title>A Jedi Empire Awakens</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="center-it"><%= image_tag "jedi-awakens.png" %></div>
<hr>

<%= yield %>

</body>
</html>
